html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.intro {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
